@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

.history {
  position: inherit;
  background-color: white;
  padding: 15px;
  margin: 160px 50px 50px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px #ffe100;
}

.historyline {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 0px 0px 0px 10px solid gray;
}
.title {
  font-family: "Roboto";
  font-size: 200%;
  color: rgb(31, 31, 31);
  margin-left: 5%;
}

.year {
  font-family: "Roboto";
  font-size: 120%;
  color: rgb(31, 31, 31);
  margin-left: 5%;
}

img {
  border-radius: 10%;
}

.historydeteils {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .historydeteils {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .title {
    font-family: "Roboto";
    font-size: 110%;
    color: rgb(31, 31, 31);
    padding: 10px;
  }

  .year {
    font-family: "Roboto";
    font-size: 90%;
    color: rgb(31, 31, 31);
    padding: 10px;
  }

  .history {
    position: inherit;
    background-color: white;
    padding: 15px;
    margin: 125px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px #ffe100;
  }
}
