.moviesearch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  margin: 20px;
  max-width: 1500px;
}

.moviesearch img {
  border-radius: 5px;
  margin: 20px;
  width: 250px;
  transition: 1.3s;
}

.moviesearch img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 0px 10px 4px #ffffff;
}
