.container {
  display: flex;
  justify-content: center;
}
.moviesearch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  position: inherit;
  margin-top: 150px;
  width: 70%;
}

.moviesearch img {
  border-radius: 5px;
  margin: 20px;
  width: 250px;
}

.movies {
  transition: 1.3s;
}

.movies:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
