.mylist {
  position: inherit;
  margin-top: 200px;
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
}

.showmylist:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 13px 2px #fbb03b;
  transform: scale(0.9);
}

.showmylist {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 410px;
  align-items: center;
  width: 300px;
  transition: 1.2s;
}

.name {
  font-size: x-large;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.year {
  padding-top: 10px;
  font-size: x-large;
  text-decoration: none;
}

img {
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .mylist {
    position: inherit;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
  .showmylist {
    display: flex;

    flex-direction: column;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    height: 350px;
    align-items: center;
  }

  .showmylist img {
    width: 170px;
  }

  .showmylist:hover {
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 13px 2px rgb(31, 31, 31);
    transform: scale(0.1);
  }
  .name {
    font-size: x-large;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
  }
}
