.search {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0%;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px 0px white;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchbarchild {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 110px;
}

.logo {
  margin-right: 20px;
}
