@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../src/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
}
body {
  background-color: rgb(31, 31, 31);
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  transform: scale(1.2);
}

a {
  transition: 1.5s;
  text-decoration: none;
}

ul {
  list-style: none;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.loadingdetails {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}
